<!DOCTYPE html>
<html lang="es">
<head>
	<title>Balance de Cuentas</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="HandheldFriendly" content="True">
	<meta http-equiv="x-ua-compatible" content="IE=edge">
	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	
</head>

<body>

	<div id="main">


		<div id="page" class="fixed-navbar">

			<div class="top-navbar">
				
				<div class="container">
					<div class="row">
						<div class="col s12">
				
							<div class="front-navigation">
								<div class="site-title">
									<h1><span>Felipe</span>Jurado</h1>
								</div>
							</div>

						</div>
					</div>
				</div>

			</div>

						<div class="content-container no-padding-top animated fadeInUp">
						
							<div class="not-found center-element">					
								<h1 class="heading">
									404
								</h1>
								<h3 class="subheading">Página no encontrada</h3>
								<p>
									¡La página buscada no existe!
								</p>
								<a class="btn" href="/"><span class="ti-home"></span> Ir a inicio</a>

							</div>

						</div>

					</div>
				</div>
			</div>

		
			<div class="footer">
				
				<div class="ft-header">
					<h2 class="title"><span>Felipe</span>Jurado</h2>
					<p class="desc">Trabajo de prueba Bootcamp Keepcoding</p>
					<div class="socmed mt-3">
						<a href="https://www.felipejurado.com" target="_blank"><i class="fa fa-globe"></i></a>
						<a href="https://twitter.com/felipejjurado" target="_blank"><i class="fa fa-twitter"></i></a>
					</div>
				</div>

				<div class="copyright">
					<span>&copy; 2021 Felipe Jurado</span>
				</div>

			</div>

			<div id="to-top" class="main-bg">
				<span class="ti-arrow-up"></span>
			</div> 

		</div>

	</div>

</body>
</html>