{% extends 'base.html' %}

{% block titulo_pagina %} Nuevo movimiento {% endblock %}



{% block contenido_pagina %}


<div class="content-container no-padding-top">

	<div class="animated fadeInUp">

		<div class="container">
			<div class="row no-mb">
				<div class="col s12">

					<div class="blog">

						<div class="entry-content">
							{% if items | length == 0 %}
								<blockquote>Introduce tu primer movimiento</blockquote>
							{% else %}

								<div class="home-widget no-mb">
									<table class="mb-4">
										<thead>
											<tr>
												<th data-field="id">Fecha</th>
												<th data-field="name">Concepto</th>
												<th data-field="price">Ingreso / Gasto</th>
												<th data-field="price">Cantidad</th>
											</tr>
										</thead>

										<tbody>
											{% for item in items %}
											<tr>
												<td>{{ item.fecha }}</td>
												<td>{{ item.concepto }}</td>
												<td>
													{% if item.es_ingreso == 'I' %}
													Ingreso
													{% else %}
													Gasto
													{% endif %}
												</td>
												<td>{{ item.cantidad }}€</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							{% endif %}
							<blockquote>
								Versión de lectura de fichero BBDD.
							</blockquote>

							<p></p>
						</div>

					</div>

				</div>
			</div>
		</div>

	</div>

</div>

{% endblock %}